<!DOCTYPE html>
    <head>
        <title>Inicio</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles/inicio.css') }}">
    </head>
    <Body bgcolor="#D8D8D8">
        <div class="encabezado">
            <h1>Métodos de Integración</h1>
        </div>
        <div class="cuerpo">
            <form action="/iniciarTest" method="post">
                <p id="letras">Integral:</p>
            <p id="letras">Desde: <input id="txt" type="text" name="desde"/></p>
            <p id="letras">Hasta: <input id="txt" type="text" name="hasta"/></p>
                <p id="letras">Seleccione el valor de N</p>
                <select name="N" id="option">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
                <p><input id="boton" type="submit" value="Siguiente"></p>
            </form>
        </div>
    </Body>
</html>