<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Styles/style2.css') }}">

</head>
<body>
<form action="/N5" method="post">
<table>
  <tr>
  	<td>i</td>
    <td>0</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
  </tr>
  <tr>
  	<td>x</td>
    <td>{{ c11 }}</td>
    <td>{{ c12 }}</td>
    <td>{{ c13 }}</td>
    <td>{{ c14 }}</td>
    <td>{{ c15 }}</td>
    <td>{{ c16 }}</td>
  </tr>
  <tr>
  	<td>y</td>
    <td><input id="txt" type="text" name="21"/></td>
    <td><input id="txt" type="text" name="22"/></td>
    <td><input id="txt" type="text" name="23"/></td>
    <td><input id="txt" type="text" name="24"/></td>
    <td><input id="txt" type="text" name="25"/></td>
    <td><input id="txt" type="text" name="26"/></td>
  </tr>
</table>
  <p>h={{ h }}</p>
  <br>
  <select name="operacion">
    <option value="Trapecio">Trapecio</option>
    <option value="3/8">Simpson Combinado</option>
  </select>
<p><input id="boton" type="submit" value="Resutado"></p>
</form>
</body>
</html>